fastapi
uvicorn
torch
transformers
scikit-learn
rapidfuzz
pandas
openpyxl
spacy
# Add the small English model for spaCy (compatible with spaCy v3.7)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
